@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.app {
	height: 100vh;
	width: 100vw;
	background-color: rgb(153, 235, 235);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: wheat;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	width: 30%;
}

.people {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 1rem;
}

.img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

.name {
	color: black;
	font-size: 1.2rem;
}

.age {
	color: grey;
}

.btn {
	height: 2rem;
	margin-top: 1rem;
	background-color: aquamarine;
	border: none;
	border-radius: 1rem;
	color: black;
	font-weight: 500;
	/* transition: all 0.5s ease-in; */
}

.btn:hover {
	cursor: pointer;
	background-color: red;
	transition: all 0.5s ease-in;
}
